@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');
body {
    background-color: #1c1e29;
}

#logo {
    color: #ff4473;
    margin-left: 20px;
    font-family: 'Rubik', sans-serif;
}

#exclamation {
    color: #00e7e7;
    font-weight: bold;
    font-size: 2.7rem;
    margin-left: 3px;
    transform: rotate(45deg);
}

#score {
    margin: 15px 45px 15px 5px;
    float: right;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
}

button {
    color: #fff;
    font-family: Inconsolata, monospace;
    height: 80px;
    border-radius: 2px;
    background-color: #33354b;
    border-top: 3px solid #00e7e7;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    padding: 20px 10px 20px 10px;
    margin: 5px 10px 5px 10px;
    box-sizing: border-box;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding-bottom: 15px;
}